In [ ]:
print("Hello World")

Hello World

#Comments

In [ ]:
# Single Line Comment
# Hi everyone this is a comment
print('Hello World') # This helps you give the output

In [ ]:
'''
Hi this is
a python file
and it is commented
'''
print('Hello World')

Hello World

In [ ]:
# Line Continuation
# Use Backslash(\)

total = 1+2+3+4+5+6+7+\
8+9+10

print(total)

55

In [ ]:
# Multiple statements in a single line

x=3;y=10;z=x+y
print(z)

13

#Indentation

In [ ]:
age = 32

if age>30:
  print(age)

32

# Variables

In [ ]:
## Declaring And Assigning Variables

age = 32 # this is an integer variable
height = 6.1
name = 'Rahul' # this is a string variable

# Printing the variables

# print("Hi, your age is", age, "How are you", height, name)
print('Hi', name, "Your age is", age, "Your Height is", height)

Hi Rahul Your age is 32 Your Height is 6.1

In [ ]:
# Naming Conventions
# Variable name should not start with a number
# Variable name should not start with a special symbol as well
# _

first_name = "Harsh"
last_name = "Singh"
_age = 23
_age_23 = 34

In [ ]:
# Invalid Variable names

# 2age = 23
# first@name = 'Harsh'
@name = 12

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-24-8e59580c19b1>, line 5)

In [ ]:
print("Hello World")

Hello World

In [ ]:
Print('Hello World')

NameError: name 'Print' is not defined

In [ ]:
name = "Harsh"
Name = "Singh"

print(name, Name)

Harsh Singh

In [ ]:
age = 23
height = 6.1
name = "harsh"

# print(type(name))
print(type(age))

<class 'int'>

In [ ]:
# Type Conversion

age = float(age)
print(type(age))

<class 'float'>

In [ ]:
print(type(height))

<class 'float'>

In [ ]:
height = int(height)
print(type(height))

<class 'int'>

In [ ]:
print(type(name))

<class 'str'>

In [ ]:
name = int(name)

ValueError: invalid literal for int() with base 10: 'harsh'

In [ ]:
age = str(age)
print(type(age))

<class 'str'>

In [ ]:
# Dynamic Typing

var = 10 #int
print(var, type(var))

var = "hello"
print(var, type(var))

var = 3.14
print(var, type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [ ]:
# Input

age = int(input("What is the age "))
print("Hi, your age is", age)

What is the age 23
Hi, your age is 23

In [ ]:
age = int(input("What is your age "))
name = input("What is your name ")
height = float(input("What is your height"))

print("Hi", name, "your age is", age, "your height is", height)

What is your age 23
What is your name Harsh
What is your height6.2
Hi Harsh your age is 23 your height is 6.2

# DataTypes

In [ ]:
## Integer Example
age = 35
type(age)

int

In [ ]:
## Floating Point Datatypes
height = 5.12
print(type(height))

<class 'float'>

In [ ]:
## String DataTypes
name = "Harshvardhan"
print(type(name))

<class 'str'>

In [ ]:
## Boolean DataType
a = True
print(type(a))

<class 'bool'>

In [ ]:
## Common Error
result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
result = "Hello" + "5" + "Hey" + "23"
print(result)

Hello5Hey23

# Operators

## Arithmethic Operators

In [ ]:
a = 10
b = 5

add = a + b # Addition
sub = a - b # Substract
mul = a * b # Multiply
div = a / b # Divide
floor_div = a // b # Floor Division
modulus = a % b # Modulus Operator
expo = a ** b # Exponential

print(add)
print(sub)
print(mul)
print(div)
print(floor_div)
print(modulus)
print(expo)

15
5
50
2.0
2
0
100000

In [ ]:
21/4

5.25

In [ ]:
21//4

5

In [ ]:
42/9

4.666666666666667

In [ ]:
42//9

4

In [ ]:
10 % 3

1

In [ ]:
5 % 2

1

## Comparison Operators

In [ ]:
## Equals to ==

a = 10.00
b = 10

a == b

True

In [ ]:
str1 = "Harsh"
str2 = "Harsh"

str1 == str2

True

In [ ]:
## Not Equal to !=
str1 != str2

False

In [ ]:
## Greater than or equal to

num1 = 66
num2 = 45

print(num1 >= num2)

True

In [ ]:
## Less than or equal to

num1 = 86
num2 = 77

print(num1 <= num2)

False

## Logical Operator

![Screenshot 2024-10-18 at 7.07.20 PM.png]()

In [ ]:
# And Operator

X = True
Y = True

result = X and Y
print(result)

True

In [ ]:
X = False
Y = True

result = X and Y
print(result)

False

In [ ]:
# OR Operator

X = True
Y = True

result = X or Y
print(result)

True

In [ ]:
X = False
Y = True

result = X or Y
print(result)

True

In [ ]:
# Not Operator

X = False
not X

True

In [ ]:
X = True
not X

False

# Conditional Statements

In [ ]:
# if statement
age = 20

if age>=18:
  print("You are allowed to vote in the election")

In [ ]:
# Code example of indentation
if True:
  print('Correct Indentation')
  if False:
    print('This is not Printed')
  print("this will print")
print("Outside of if block")

Correct Indentation
This is not Printed
this will print
Outside of if block

In [ ]:
# Else

age = int(input("What is your age ?"))

if age>=18:
  print("You are eligible for voting")

else:
  print('You are a minor')

What is your age ?67
You are eligible for voting

In [ ]:
# Find if the number is even or odd

num = int(input("Enter the number: "))

if num % 2 == 0:
  print("The number is Even")
else:
  print("The number is odd")

Enter the number: 41
The number is odd

In [ ]:
# elif
# else if

age = int(input("What is your age: "))

if age<=13:
  print("You are a child")
elif age<15:
  print("You are a mid teen")
elif age<18:
  print("You are a teenager")
else:
  print("You are an adult")

What is your age: 13
You are a child

In [ ]:
# Nested Conditional Statements

num = int(input("Enter the number:"))

if num>0:
  print("This number is positive")

  if num%2 == 0:
    print("This number is even")

  else:
    print("This Number is odd")

else:
  print("The number is zero or negative")

Enter the number:66
This number is positive
This number is even

In [ ]:
# Quest - Simple Calculator

# Taking User Input
num1 = float(input('Enter the first number: '))
num2 = float(input("Enter the second number: "))
operation = input("Enter operations (+, -, *, /): ")

# Perform the operations
if operation == "+":
  result = num1 + num2
elif operation == "-":
  result = num1 - num2
elif operation == '*':
  result = num1 * num2
elif operation == "/":
  if num2 != 0:
    result = num1 / num2
  else:
    result = "Error! Division by Zero"
else:
  result = "Invalid Operation"

print("The Result is :", result)

Enter the first number: -4.9
Enter the second number: 5
Enter operations (+, -, *, /): *
The Result is : -24.5

In [ ]:
# Ques: User Login System

# Predefine the username and the passward
stored_username = 'admin'
stored_password = 'password123'

# Take user input
username = input("Enter Username: ")
password = input("Enter password: ")

# Check login credentials
if username == stored_username:
  if password == stored_password:
    print("Login Successful !!")
  else:
    print("Incorrect Credentials")
else:
  print("Username not found")

Enter Username: admin
Enter password: j
Incorrect Credentials

In [ ]:
# Report Card Generator

name = str(input("What is your name: "))
marks = int(input("Enter your marks: "))

if 90 <= marks <= 100:
  grade = "A+"
elif 80 <= marks <= 89:
  grade = "A"
elif 70 <= marks <= 79:
  grade = 'B'
elif 60 <= marks <= 69:
  grade = "C"
elif 50 <= marks <= 59:
  grade = "D"

else:
  grade = "F"

print("Hi", name, "your grade is", grade)

What is your name: Rahul
Enter your marks: 78
Hi Rahul your grade is B

In [ ]:
# Ticket Price Generator

# Take user input
age = int(input("Enter your age: "))
is_student = input("Are you a student? (yes/no): ").lower()

# Determine Ticket Price
if age < 5:
  price = "Free"
elif age <= 12:
  price = "Rs 10"
elif age <= 17:
  if is_student == 'yes':
    price = "Rs 12"
  else:
    price = "Rs 15"
elif age <= 64:
  if is_student == 'yes':
    price = "Rs 25"
  else:
    price = "Rs 30"

else:
  price = "Rs 50"

print("Ticket Price is :", price)

Enter your age: 55
Are you a student? (yes/no): no
Ticket Price is : Rs 30

## Q) Calculate an employee's bonus based on their performance

* 1) Years of Service
* 2) performance rating (1.0 to 5.0)

>= 4.5
- 10years (20)
- 5 years (15)

>= 3.5
- 10 years (10)

Salary ->

In [ ]:
# Employee Bonus Calculator

# Taking User Input
years_of_service = int(input('Enter years pf service: '))
performance_rating = float(input("Enter performance ratings (1.0 to 5.0): "))

# Determine bonus percentage
if performance_rating >= 4.5:
  if years_of_service > 10:
    bonus_percentage = 20
  elif years_of_service > 5:
    bonus_percentage = 15
  else:
    bonus_percentage = 10

elif performance_rating >= 3.5:
  if years_of_service > 10:
    bonus_percentage = 15
  elif years_of_service > 5:
    bonus_percentage = 10
  else:
    bonus_percentage = 5

else:
  bonus_percentage = 0

# Calculate bonus amount
salary = float(input("Enter current salary: "))
bonus_amount = salary * bonus_percentage / 100

print("Bonus Amount is Rs", bonus_amount)

Enter years pf service: 10
Enter performance ratings (1.0 to 5.0): 2.5
Enter current salary: 10000
Bonus Amount is Rs 0.0

#Loops

In [ ]:
# How to iterate over a string

text = "Rahul Nigam"

for i in text:
  print(i)

R
a
h
u
l

N
i
g
a
m

In [ ]:
# Q1) Calculate the sum of first 10 natural numbers using a while and for loop

n = 10
sum = 0
count = 1

while count<=n:
  sum = sum + count
  count = count + 1

print("Sum of first 10 natural number:", sum)

Sum of first 10 natural number: 55

In [ ]:
n = 10
sum = 0

for i in range(11):
  sum = sum + i

print(sum)

55

In [ ]:
# Nested Loops

for i in range(3): # i will take 0, 1,2.
  for j in range(2): # j will take values 0,1
    print('i:',i,'and','j:',j)

i: 0 and j: 0
i: 0 and j: 1
i: 1 and j: 0
i: 1 and j: 1
i: 2 and j: 0
i: 2 and j: 1

i = 2

j = 1

In [ ]:
# Pattern Printing Ques - 1 ( Basic Square Printing)

row = 5

for i in range(row):
  for j in range(row):
    print("*", end='')
  print()

*****
*****
*****
*****
*****


*   The outer loop controls the number of rows


*   The inner loop controls the number of asterisks being printed

In [ ]:
# Q2) Triangle Pattern Printing

row = 5

for i in range(1, row+1):
  for j in range(i):
    print("*", end = '')
  print()

*
**
***
****
*****

In [ ]:
# Q3) Inverted Triangle Pattern

row = 5
for i in range(row, 0, -1):
  for j in range(i):
    print("*", end="")
  print()

*****
****
***
**
*

# List



*   List are ordered, mutable collections of items
*   List can contain items of different data types

In [ ]:
lst = []
print(type(lst))

<class 'list'>

In [ ]:
names = ["Harsh", "Rahul", "Gaur", 1,2,3,4,5]
print(names)

['Harsh', 'Rahul', 'Gaur', 1, 2, 3, 4, 5]

In [ ]:
mixed_list = [1, "Hello", 3.14, True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [ ]:
# Accessing List Elements

fruits = ['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [ ]:
print(fruits[1])
print(fruits[0])
print(fruits[4])
print(fruits[-1])

banana
apple
gauva
gauva

In [ ]:
# Modifying the list elements
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [ ]:
fruits[1] = 'watermelon'
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [ ]:
print(fruits[2:4])

['cherry', 'kiwi']

1) 3 arguments
- start, stop, step

In [ ]:
fruits[1:] ='watermelon'

In [ ]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [ ]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [ ]:
# List Methods

fruits.append('orange')  # Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [ ]:
fruits.insert(2, 'watermelon')
print(fruits)

['apple', 'banana', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [ ]:
fruits.append('banana')

In [ ]:
print(fruits)

['apple', 'banana', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange', 'banana']

In [ ]:
fruits.remove('banana') # Removes the firt occurance of an item
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange', 'banana']

In [ ]:
# Remove and return the last element

popped_fruits = fruits.pop()
print(popped_fruits)
print(fruits)

banana
['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [ ]:
index = fruits.index('cherry')
print(index)

2

In [ ]:
fruits.insert(2, 'banana')
print(fruits.count('banana'))

1

In [ ]:
fruits.append('banana')
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange', 'banana']

In [ ]:
print(fruits.count('banana'))

2

In [ ]:
# Sorting the list in ascending order

fruits.sort()

In [ ]:
print(fruits)

['apple', 'banana', 'banana', 'cherry', 'gauva', 'kiwi', 'orange', 'watermelon']

In [ ]:
# Reverse the list

fruits.reverse()

In [ ]:
print(fruits)

['watermelon', 'orange', 'kiwi', 'gauva', 'cherry', 'banana', 'banana', 'apple']

In [ ]:
# Remove all items from the list

fruits.clear()
print(fruits)

[]

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [ ]:
# Slicing List
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'gauva']

# print(fruits[1:4])
# print(fruits[:3])
# print(fruits[:])
# print(fruits[::2])
print(fruits[::-1])

['gauva', 'kiwi', 'cherry', 'banana', 'apple']

3 arguments
- start
- stop
- step

In [ ]:
# Iteration over list

for i in fruits:
  print(i)

apple
banana
cherry
kiwi
gauva

In [ ]:
# Iteration with index

for index,i in enumerate(fruits):
  print(index, i)

0 apple
1 banana
2 cherry
3 kiwi
4 gauva

In [ ]:
# List Comprehension

lst = []
for x in range(11):
  lst.append(x**2)

In [ ]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[x**2 for x in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

List Comprehension
- Basic Syntax [expression for item in iterable]
- With Conditional Logic [expression for item in iterable if condition]
- Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2 ]

In [ ]:
# Basic Syntax

square = [num**2 for num in range(11)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# List Comprehension with Conditions

lst = []
for i in range(11):
  if i%2==0:
    lst.append(i)

In [ ]:
lst

[0, 2, 4, 6, 8, 10]

In [ ]:
even_numbers = [num for num in range(11) if num%2==0]

In [ ]:
even_numbers

[0, 2, 4, 6, 8, 10]

In [ ]:
# Nested List Comprehension

lst1 = [1,2,3,4]
lst2 = ['a','b','c','d']

pair = [[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [ ]:
words = ['hello', 'world', 'python', 'list','comprehension']
lengths = [len(i) for i in words]
print(lengths)

[5, 5, 6, 4, 13]

# Real World Examples using List

In [ ]:
# Example 1: To Do list

to_do_list = ['Buy Grocery', 'Clean the house', "Pay Bills", "Go to Gym"]

# Add the task
to_do_list.append("Schedule a meeting")
to_do_list.append("Go for a run")

# Removing a completed task
to_do_list.remove('Clean the house')

# Checking if task is in list
if "Pay Bills" in to_do_list:
  print("Don't Forget to pay the utility bills")

# Printing all the elements
for i in to_do_list:
  print(i)

Don't Forget to pay the utility bills
Buy Grocery
Pay Bills
Go to Gym
Schedule a meeting
Go for a run

In [ ]:
# Example 2 (Organizing Student Grades)

# Adding some grades
grades = [85, 92, 78, 90, 88]

# Add a new grade
grades.append(95)

# Calculate the average grade
average_grade = sum(grades) / len(grades)
print("The Average Grade of the class is", average_grade)

# Finding the highest and lowest
highest_grade = max(grades)
lowest_grade = min(grades)
print("Highest grade is", highest_grade)
print("Lowest grade is", lowest_grade)

The Average Grade of the class is 88.0
Highest grade is 95
Lowest grade is 78

# Tuple

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [ ]:
# Creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
lst = list()
print(type(lst))

<class 'list'>

In [ ]:
tpl = tuple()
print(type(tpl))

<class 'tuple'>

In [ ]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [ ]:
tuple((1,2,3,4,5,6))

(1, 2, 3, 4, 5, 6)

In [ ]:
mixed_tuple = (1, "Hello World", 3.14, True)
print(mixed_tuple)
print(type(mixed_tuple))

(1, 'Hello World', 3.14, True)
<class 'tuple'>

In [ ]:
# Accessing Tuple Elements
numbers = tuple((1,2,3,4,5,6))
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
print(numbers[2])
print(numbers[-1])

3
6

In [ ]:
print(numbers[1:4])

(2, 3, 4)

In [ ]:
print(numbers[::-1])

(6, 5, 4, 3, 2, 1)

In [ ]:
# Tuple Operations

concatenate = numbers + mixed_tuple
print(concatenate)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [ ]:
mixed_tuple * 5

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [ ]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [ ]:
lst = [1,2,3,4,5]
print(lst)

lst[1] = 'Harsh'
print(lst)

[1, 2, 3, 4, 5]
[1, 'Harsh', 3, 4, 5]

In [ ]:
# Immutable Nature of Tuple
# Tuples are immutable, meaning their elements cannot be changed once assigned

tpl = (1,2,3,4,5)
print(tpl)

tpl[1] = 'Harsh'
print(tpl)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [ ]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
# Tuple Methods
# Count

print(numbers.count(1))

1

In [ ]:
# Index
print(numbers.index(3))

2

In [ ]:
# Packing a tuple

packed_tuple = 1,"Hello",3.14
print(packed_tuple)
print(type(packed_tuple))

(1, 'Hello', 3.14)
<class 'tuple'>

In [ ]:
# Unpacking a tuple

a,b,c = packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [ ]:
# Unpacking a tuple with *

numbers = (1,2,3,4,5,6)

first,*middle,last = numbers

print(first)
print(middle)
print(last)
# print(type(middle))

1
[2, 3, 4, 5]
6

In [ ]:
t = (1,2,3,4,5)
print(type(t))

<class 'tuple'>

In [ ]:
tpl_to_list = list(t)
print(tpl_to_list)
print(type(tpl_to_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
# Nested List

lst = [[1,2,3,4,5],[6,7,8,9],[1,"Hello",3.14,True]]
print(len(lst))

3

In [ ]:
print(lst[0][3])

4

In [ ]:
# Nested Tuple

nested_tuple = ((1,2,3),('a','b','c'),(True, False, 3.14))

print(nested_tuple)
print(type(nested_tuple))

((1, 2, 3), ('a', 'b', 'c'), (True, False, 3.14))
<class 'tuple'>

In [ ]:
# List inside a tuple

a = ([1,2,3],['a','b','c'],[True,3.14])
print(a)
print(type(a))

([1, 2, 3], ['a', 'b', 'c'], [True, 3.14])
<class 'tuple'>

In [ ]:
# Tuple inside a list

b = [(1,2,3),('a','b','c'),(True, False, 3.14)]
print(b)
print(type(b))

[(1, 2, 3), ('a', 'b', 'c'), (True, False, 3.14)]
<class 'list'>

In [ ]:
nested_tuple = ((1,2,3),('a','b','c'),(True, False, 3.14))

# access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [ ]:
# Iterating over nested tuples

nested_tuple = ((1,2,3),('a','b','c'),(True, False, 3.14))

for i in nested_tuple:
  for item in i:
    print(item, end = ' ')
  print()

1 2 3
a b c
True False 3.14

# Sets

Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [ ]:
# Create a set

my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
my_empty_set = set()
print(my_empty_set)
print(type(my_empty_set))

set()
<class 'set'>

In [ ]:
my_set = set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
my_empty_set = set([1,2,3,6,5,4,5,6,5,6,6,6]) # Contains unique values
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
# Basic Set Operations
# Add and Remove Elements

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
my_set.add(8)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Remove the element from the set
my_set.remove(8)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
my_set.remove(10)

KeyError: 10

In [ ]:
# It is used to remove a specific element from a set without raising an error if the element is not found
# This is different from the remove method, which raises an error if the element is not found

my_set.discard(10)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# pop method

remove_element = my_set.pop()
print(remove_element)
print(my_set)

3
{4, 5, 6, 7}

In [ ]:
# Clear all the elements

my_set.clear()
print(my_set)

set()

In [ ]:
# Membership Test
# In Python, the membership test is used to check if an element is present in a set. You can use in and not in operators

my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 not in my_set)

True
True

In [ ]:
# Mathematical Operations

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

# Union
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# Intersection
intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5, 6}

In [ ]:
# Difference
print(set1.difference(set2))

{1, 2, 3}

In [ ]:
print(set2.difference(set1))

{8, 9, 7}

In [ ]:
# Symmetric Difference
# In Python, the Symmetric Difference of 2 sets us the set of elements that are in either of the sets but not in both
# In other words, it returns the elements that are unique to each set when compared to other

set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [ ]:
lst = [1,2,2,2,2,2,3,3,3,4,5]
conv_set = set(lst)
print(conv_set)
print(type(conv_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
# Use Cases of set

text = "In this Class we are discussing about set"
words = text.split()
print(words)

# Convert list of words to set to get unique words

unique_words = set(words)
print(unique_words)
print(len(unique_words))

['In', 'this', 'Class', 'we', 'are', 'discussing', 'about', 'set']
{'we', 'are', 'In', 'about', 'this', 'set', 'discussing', 'Class'}
8

# Dictionary
Dictionaries are unordered collections of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type

In [ ]:
# Creating a dictionary
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [ ]:
student = {'Name':"Harshvardhan", 'age':28, 'grade':24}
print(student)
print(type(student))

{'Name': 'Harshvardhan', 'age': 28, 'grade': 24}
<class 'dict'>

In [ ]:
# Single Key is always used

student = {"Name":"Harshvardhan", 'age':28, "Name":"Rohan", 'age':99}
print(student)

{'Name': 'Rohan', 'age': 99}

In [ ]:
students = {"Name":"Harshvardhan", 'age':32, "grade":"A", "Address":"India"}
print(students)

{'Name': 'Harshvardhan', 'age': 32, 'grade': 'A', 'Address': 'India'}

In [ ]:
# Accessing Dictionary Elements
print(students['grade'])
print(students['age'])

A
32

In [ ]:
# Accessing using get() method
print(students.get('grade'))
print(students.get('age'))
print(students.get('last_name'))
print(students.get('last_name',"It is not present here")) # Providing default value to it

A
32
None
It is not present here

In [ ]:
# Modifying Dictionary Elements
print(students)

{'Name': 'Harshvardhan', 'age': 32, 'grade': 'A', 'Address': 'India'}

In [ ]:
# Update
students['grade'] = 'B' # update
print(students)
students['Address'] = 'USA' # update
print(students)
students['Phone_Number'] = 9829389283 # Add a new key and value pairs
print(students)

{'Name': 'Harshvardhan', 'age': 32, 'grade': 'B', 'Address': 'USA'}
{'Name': 'Harshvardhan', 'age': 32, 'grade': 'B', 'Address': 'USA'}
{'Name': 'Harshvardhan', 'age': 32, 'grade': 'B', 'Address': 'USA', 'Phone_Number': 9829389283}

In [ ]:
# Deleting Key and Value pairs

del students['Address']
print(students)

{'Name': 'Harshvardhan', 'age': 32, 'grade': 'B', 'Phone_Number': 9829389283}

In [ ]:
# Dictionary Methods

a = students.keys() # Get all the keys
print(a)

b = students.values() # Get all the values
print(b)

c = students.items() # Gets all key and value pairs
print(c)

dict_keys(['Name', 'age', 'grade', 'Phone_Number'])
dict_values(['Harshvardhan', 32, 'B', 9829389283])
dict_items([('Name', 'Harshvardhan'), ('age', 32), ('grade', 'B'), ('Phone_Number', 9829389283)])

In [ ]:
print(students)

{'Name': 'Harshvardhan', 'age': 32, 'grade': 'A', 'Address': 'India'}

In [ ]:
student_copy = students

print(students)
print(student_copy)

{'Name': 'Harshvardhan', 'age': 32, 'grade': 'A', 'Address': 'India'}
{'Name': 'Harshvardhan', 'age': 32, 'grade': 'A', 'Address': 'India'}

In [ ]:
students['Name'] = 'Rahul'

print(students)
print(student_copy)

{'Name': 'Rahul', 'age': 32, 'grade': 'A', 'Address': 'India'}
{'Name': 'Rahul', 'age': 32, 'grade': 'A', 'Address': 'India'}

In [ ]:
student_copy1 = students.copy() # Shallow Copy
print(student_copy1)
print(students)

{'Name': 'Rahul', 'age': 32, 'grade': 'A', 'Address': 'India'}
{'Name': 'Rahul', 'age': 32, 'grade': 'A', 'Address': 'India'}

In [ ]:
students['age'] = 103
print(students)
print(student_copy1)

{'Name': 'Rahul', 'age': 103, 'grade': 'A', 'Address': 'India'}
{'Name': 'Rahul', 'age': 32, 'grade': 'A', 'Address': 'India'}

In [ ]:
# Iterating over dictionaries

# Iterating over keys

for keys in students.keys():
  print(keys)

Name
age
grade
Address

In [ ]:
# Iterating over values

for value in students.values():
  print(value)

Rahul
103
A
India

In [ ]:
# Iterate over key value pairs

for i,j in students.items():
  print(i,':',j)

Name : Rahul
age : 103
grade : A
Address : India

In [ ]:
for item in students.items():
  print(item)

('Name', 'Rahul')
('age', 103)
('grade', 'A')
('Address', 'India')

In [ ]:
# Nested Dictionary

students = {
    'student1': {"name":'Soni','age':20},
    'student2': {'name' : "Harsh", 'age' : 25}
}
print(students)

{'student1': {'name': 'Soni', 'age': 20}, 'student2': {'name': 'Harsh', 'age': 25}}

In [ ]:
# Access nested Dictionary elements

print(students['student2']['name'])
print(students['student1']['age'])

Harsh
20

In [ ]:
students.items()

dict_items([('student1', {'name': 'Soni', 'age': 20}), ('student2', {'name': 'Harsh', 'age': 25})])

In [ ]:
# Iterating Over Nested Dictionary

for student_id, student_info in students.items():
  print(student_id, ":", student_info)
  for key,value in student_info.items():
    print(key, ':', value)

student1 : {'name': 'Soni', 'age': 20}
name : Soni
age : 20
student2 : {'name': 'Harsh', 'age': 25}
name : Harsh
age : 25

In [ ]:
# Dictionary Comprehension

squares = {i:i**2 for i in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Conditional Dictionary Comprehension

evens = {i:i**2 for i in range(11) if i%2==0}
print(evens)
print(type(evens))

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}
<class 'dict'>

# Questions

In [ ]:
# Q1) Use a dictionary to count the frequency of elements in list

numbers = [1,2,2,2,2,2,2,3,3,3,3,3,3,4,4,4,4,4,5,5,5,5]
frequency = {}

for i in numbers:
  if i in frequency:
    frequency[i] += 1
  else:
    frequency[i] = 1

print(frequency)

{1: 1, 2: 6, 3: 6, 4: 5, 5: 4}

#### Question 2
You are given a list of integers representing the IDs of students who have signed up for an event, but some students have signed up multiple times by mistake. Your task is to:

Remove duplicates to get the unique IDs of students who signed up.
Identify students who have both signed up and attended the event (IDs are given in a separate list of attendees).
Classify each student as:
"Attended" if they signed up and attended.
"No-show" if they signed up but did not attend.
Finally, print a summary showing the count of "Attended" and "No-show" students.
Input:

A list of integers signups, where each element represents a student ID who signed up for the event. (It may contain duplicates.)
A list of integers attendees, where each element represents a student ID who attended the event.
Output: Print each unique student ID along with its status ("Attended" or "No-show") and a summary like the example below.

In [ ]:
# Example Input:

signups = [101, 102, 103, 104, 101, 105, 106, 102]
attendees = [102, 104, 106, 107]

In [ ]:
# Example Output:

101: No-show
102: Attended
103: No-show
104: Attended
105: No-show
106: Attended

Summary:
Attended: 3
No-show: 3

In [ ]:
# Sol

# Input lists
signups = [101, 102, 103, 104, 101, 105, 106, 102]
attendees = [102, 104, 106, 107]

# Remove Duplicates and find Unique ID's
unique_signups = set(signups)
unique_attendees = set(attendees)

# Create counters for attended and no-show students
attended_count = 0
no_show_count = 0

# Classify them
for i in unique_signups:
  if i in unique_attendees:
    print(i,": Attended")
    attended_count += 1
  else:
    print(i,': No-show')
    no_show_count += 1

print()
print("Summary:")
print("Attended:",attended_count)
print("No-Show:",no_show_count)

101 : No-show
102 : Attended
103 : No-show
104 : Attended
105 : No-show
106 : Attended

Summary:
Attended: 3
No-Show: 3

#### Question
You are given two lists of integers. Write a program to:

Find the unique common elements between the two lists.
Print these common elements in sorted order.
If there are no common elements, print "No common elements".

In [ ]:
# Example Input:
list1 = [1, 2, 3, 4, 5, 6, 7, 2]
list2 = [5, 6, 7, 8, 9, 10, 6]

In [ ]:
# Example Output:
Common elements: [5, 6, 7]

In [ ]:
# Sol

list1 = [1, 2, 3, 4, 5, 6, 7, 2]
list2 = [5, 6, 7, 8, 9, 10, 6]

# Converting Lists to set to get unique values
set1 = set(list1)
set2 = set(list2)

# Find common elements
common_elements = set1 & set2

# Check and print the results
if common_elements:
  print("Common Elements:", sorted(common_elements))
else:
  print("No Common Elements")

No Common Elements

#### Question

You are given two lists:

cart: A list of items purchased by a user (may contain duplicates).
inventory: A list of items available in stock.
Write a program to:

Identify and print items purchased by the user that are not in stock.
Count the number of unique items purchased by the user.

In [ ]:
# Example input
cart = ["apple", "banana", "orange", "apple", "grape", "banana"]
inventory = ["apple", "banana", "kiwi", "grape"]

In [ ]:
# Example Output
Out of stock items: {'orange'}
Unique items purchased: 4

In [ ]:
# Sol

cart = ["apple", "banana", "orange", "apple", "grape", "banana"]
inventory = ["apple", "banana", "kiwi", "grape"]

# Converting to set to get unique values
cart_set = set(cart)
inventory_set = set(inventory)

# Identifying out of stock items
out_of_stock = cart_set - inventory_set
print("out of stock items:", out_of_stock)

# Counting Unique items
print("Unqiue items purchased:", len(cart_set))

out of stock items: {'orange'}
Unqiue items purchased: 4

#### Questions
You are given a dictionary where the keys are student names and the values are lists of their scores in three subjects. Calculate and print the average score for each student.

In [ ]:
# Example Input:
grades = {
    "Alice": [85, 90, 78],
    "Bob": [88, 76, 92],
    "Charlie": [95, 100, 85]
}

In [ ]:
# Example Output:
Alice: 84.33
Bob: 85.33
Charlie: 93.33

In [ ]:
# Sol
grades = {
    "Alice": [85, 90, 78],
    "Bob": [88, 76, 92],
    "Charlie": [95, 100, 85]
}

# Calculate average scores
for i,j in grades.items():
  average = sum(j) / len(j)
  print(i,":",average)

Alice : 84.33333333333333
Bob : 85.33333333333333
Charlie : 93.33333333333333

In [ ]:
name = "Harshvardhan"
age = 32

print("Hi", name, "your age is", age)
print(f"Hi {name} your age is {age}")
print(f"{i}:{average:.2f}")

Hi Harshvardhan your age is 32
Hi Harshvardhan your age is 32
Charlie:93.33

#### Question

Write a program to count the frequency of each character in a given string and store it in a dictionary. Ignore spaces.

In [ ]:
# Example Input:
text = "hello world"

In [ ]:
# Example Output
{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

In [ ]:
# Sol
text = "hello world"

# create a dictionary to store character frequencies
char_count = {}

# Iterate over each character
for char in text:
  if char != " ":
    if char in char_count:
      char_count[char] += 1
    else:
      char_count[char] = 1

print(char_count)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

# Functions

Definition:

A function is a block of code that performs a specific task. Functions help in organizing code, reusing code, and improving readability.

In [ ]:
# Syntax

def function_name(parameters):
  """ What the function does """
  # Function body
  return expression

In [ ]:
## Why Functions ?

num = 24
if num%2==0:
  print("The number is even")
else:
  print("The number is odd")

The number is even

In [ ]:
def even_or_odd(num):
  """ This Function finds even or odd """
  if num % 2 == 0:
    print("The number is even")
  else:
    print("The number is odd")

In [ ]:
# Calling this function
even_or_odd(45)

The number is odd

In [ ]:
# Functions with multiple parameters

def add(a,b):
  return a+b

result = add(4,6)
print(result)

10

In [ ]:
def mul(a,b):
  return a*b

result = mul(4,6)
print(result)

24

In [ ]:
def greet(name):
  print(f"Hello {name} Welcome to the Class!")

greet("Harsh")

Hello Harsh Welcome to the Class!

In [ ]:
# Default Parameters

def greet(name = "Guest"):
  print(f"Hello {name} Welcome to the Class!")

greet()

Hello Guest Welcome to the Class!

### Positional Arguments
* Positional arguments are passed to a function based on their position or order.
* The function matches the values with the parameters in the order they are provided.

In [ ]:
def greet(name, age):
  print(f"Hello {name}, you are {age} years old!")

# Call using positional arguments
greet("Alice", 25)

Hello Alice, you are 25 years old!

#### Keyword Arguments
* Keyword arguments are passed to a function by explicitly specifying the parameter name along with its value
* The order of arguments does not matter since thet are matched by name

In [ ]:
def greet(name, age):
  print(f"Hello {name}, you are {age} years old!")

# Call using keyword arguments
greet(age = 25, name="Alice")

Hello Alice, you are 25 years old!

In [ ]:
# Variable Length Arguments

def print_numbers(*harsh):
  for number in harsh:
    print(number)

In [ ]:
print_numbers(1,2,3,4,5,6,7,8,19,123,23,2,42,35,345,23,23,"Hello","Harsh")

1
2
3
4
5
6
7
8
19
123
23
2
42
35
345
23
23
Hello
Harsh

In [ ]:
def print_numbers(*args):
  for number in args:
    print(number)

In [ ]:
# Keyword Arguments

def print_details(**kwargs):
  for key,value in kwargs.items():
    print(f'{key}:{value}')

In [ ]:
print_details(name="Harsh",age="32", country="India", phone_number = 982398232)

name:Harsh
age:32
country:India
phone_number:982398232

In [ ]:
# Return statements
def mul(a,b):
  return a*b

mul(2,3)

6

In [ ]:
# Return multiple Parameters
def mul(a,b):
  return a*b,a,b

mul(2,3)

(6, 2, 3)

# Data Analysis With Python

## Numpy

NumPy is a fundamental library for scientific computing in Python. It provides support for arrays and matrices, along with a collection of mathematical functions to operate on these data structures. In this lesson, we will cover the basics of NumPy, focusing on arrays and vectorized operations.

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)

In [ ]:
import numpy as np

# Creating array using Numpy
# Creating a 1d array

arr1 = np.array([1,2,3,4,5])
print(arr1)
print(type(arr1))
print(arr1.shape)

[1 2 3 4 5]
<class 'numpy.ndarray'>
(5,)

In [ ]:
# 1d Array
arr2 = np.array([1,2,3,4,5])
arr2.reshape(1,5) # 1 Row and 5 Columns

array([[1, 2, 3, 4, 5]])

In [ ]:
arr2 = np.array([[1,2,3,4,5]])
arr2.shape

(1, 5)

In [ ]:
# 2d array
arr2 = np.array([[1,2,3,4,5],[2,3,4,5,6]])
print(arr2)
print(arr2.shape)

[[1 2 3 4 5]
 [2 3 4 5 6]]
(2, 5)

In [ ]:
# numpy arange function

arr3 = np.arange(0,10,2).reshape(5,1)
print(arr3)
# print(arr3.shape)

[[0]
 [2]
 [4]
 [6]
 [8]]

In [ ]:
# numpy ones
np.ones((10,9))

array([[1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [ ]:
# Identity Matrix
np.eye(10)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [ ]:
# Attributes of Numpy Array
arr = np.array([[1,2,3],[4,5,6]])

print("Array:\n", arr)
print("............")
print("Shape", arr.shape) # It has 2 rows and 3 Columns
print("............")
print("Number of Dimensions:", arr.ndim) # Identify the Dimensions
print("............")
print("Size (number of elements):", arr.size)
print("............")
print("Data Type:", arr.dtype)
print("............")
print("Item size in bytes:", arr.itemsize)

Array:
 [[1 2 3]
 [4 5 6]]
............
Shape (2, 3)
............
Number of Dimensions: 2
............
Size (number of elements): 6
............
Data Type: int64
............
Item size in bytes: 8

In [ ]:
## Numpy Vectorized Operations

arr1 = np.array([1,2,3,4,5])
arr2 = np.array([10,20,30,40,50])

### Element wise addition
print("Addition:", arr1+arr2)

### Element wise Substraction
print("Substraction:", arr1-arr2)

### Element wise Multiplication
print("Multiplication:", arr1 * arr2)

### Element wise Division
print("Division", arr1/arr2)

Addition: [11 22 33 44 55]
Substraction: [ -9 -18 -27 -36 -45]
Multiplication: [ 10  40  90 160 250]
Division [0.1 0.1 0.1 0.1 0.1]

In [ ]:
### Universal Functions

arr = np.array([2,3,4,5,6])

# Square root
print(np.sqrt(arr))

# Exponential
print(np.exp(arr))

# Sine
print(np.sin(arr))

# Natural log
print(np.log(arr))

[1.41421356 1.73205081 2.         2.23606798 2.44948974]
[  7.3890561   20.08553692  54.59815003 148.4131591  403.42879349]
[ 0.90929743  0.14112001 -0.7568025  -0.95892427 -0.2794155 ]
[0.69314718 1.09861229 1.38629436 1.60943791 1.79175947]

In [ ]:
## Array Slicing

arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
print("Array : \n", arr)

Array :
 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

Start: stop: step

In [ ]:
print(arr[1:,1:3])

[[ 6  7]
 [10 11]]

In [ ]:
print(arr[0,0])
print('.........')
print(arr[0:2,2:])
print('.........')
print(arr[1:,2:])

1
.........
[[3 4]
 [7 8]]
.........
[[ 7  8]
 [11 12]]

In [ ]:
print(arr)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [ ]:
## Modifying array elements
arr[0,0] = 100
print(arr)

[[100   2   3   4]
 [  5   6   7   8]
 [  9  10  11  12]]

In [ ]:
arr[1:,1:3] = 100
print(arr)

[[100   2   3   4]
 [  5 100 100   8]
 [  9 100 100  12]]

In [ ]:
data = np.array([1,2,3,4,5,6,7,8,9,10])

# Mean
mean = np.mean(data)
print("Mean:",mean)
print('...............')

# Median
median = np.median(data)
print("Median:",median)
print('...............')

# Standard Deviation
std_dev = np.std(data)
print("Standard Deviation:", std_dev)
print('...............')

# Variance
variance = np.var(data)
print("Variance",variance)

Mean: 5.5
...............
Median: 5.5
...............
Standard Deviation: 2.8722813232690143
...............
Variance 8.25

In [ ]:
# Logical Operations

data = np.array([1,2,3,4,5,6,7,8,9,10])

data[(data>5)& (data<=8)]

array([6, 7, 8])

# Pandas- DataFrame and Series

Pandas is a powerful data manipulation library in Python, widely used for data analysis and data cleaning. It provides two primary data structures: Series and DataFrame. A Series is a one-dimensional array-like object, while a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).

In [ ]:
import pandas as pd

In [ ]:
# Series
# Series is a 1d array like object. It is similar to a column in a table

import pandas as pd
data = [5,6,7,8,9,10,11,12]
series = pd.Series(data)
print("Series is \n",series)
print(type(series))

Series is
 0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
## Creating a Series from a dictionary
data = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
series_dict = pd.Series(data)
print(series_dict)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
data = [10,20,30,40,50]
indexes = ['a','b','c','d','e']
ser = pd.Series(data,index=indexes)
print(ser)
print(type(ser))

a    10
b    20
c    30
d    40
e    50
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
## DataFrame
## Create a DataFrame from a dictionary of list

data = {
    "Name":['Harshvardhan','Jack','John','Adam'],
    "Age":[24,26,30,32],
    "City":["Noida","Bangalore","New York","Florida"]
}

df = pd.DataFrame(data)
print(df)
print(type(df))

           Name  Age       City
0  Harshvardhan   24      Noida
1          Jack   26  Bangalore
2          John   30   New York
3          Adam   32    Florida
<class 'pandas.core.frame.DataFrame'>

In [ ]:
## Create a DataFrame From a list of Dictionaries

data = [
    {"Name":"Harsh","Age":24,"City":'Noida'},
    {"Name":"Jack","Age":27,"City":'Bangalore'},
    {"Name":"Rahul","Age":22,"City":'Florida'},
    {"Name":"Divya","Age":30,"City":'USA'},
]

df = pd.DataFrame(data)
print(df)
print(type(df))

    Name  Age       City
0  Harsh   24      Noida
1   Jack   27  Bangalore
2  Rahul   22    Florida
3  Divya   30        USA
<class 'pandas.core.frame.DataFrame'>

In [ ]:
df

    Name  Age       City
0  Harsh   24      Noida
1   Jack   27  Bangalore
2  Rahul   22    Florida
3  Divya   30        USA

In [ ]:
df = pd.read_csv('/content/sales_data.csv')
df

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal
...,...,...,...,...,...,...,...,...,...
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159.99,159.99,Europe,PayPal
236,10237,2024-08-24,Clothing,Nike Air Force 1 Sneakers,3,90.00,270.00,Asia,Debit Card
237,10238,2024-08-25,Books,The Handmaid's Tale by Margaret Atwood,3,10.99,32.97,North America,Credit Card
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55.00,55.00,Europe,PayPal
239,10240,2024-08-27,Sports,Yeti Rambler 20 oz Tumbler,2,29.99,59.98,Asia,Credit Card

In [ ]:
df.head(5)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [ ]:
df.tail(5)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159.99,159.99,Europe,PayPal
236,10237,2024-08-24,Clothing,Nike Air Force 1 Sneakers,3,90.00,270.00,Asia,Debit Card
237,10238,2024-08-25,Books,The Handmaid's Tale by Margaret Atwood,3,10.99,32.97,North America,Credit Card
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55.00,55.00,Europe,PayPal
239,10240,2024-08-27,Sports,Yeti Rambler 20 oz Tumbler,2,29.99,59.98,Asia,Credit Card

In [ ]:
df.sample(5)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
106,10107,2024-04-16,Beauty Products,The Ordinary Niacinamide Serum,1,6.50,6.50,Europe,PayPal
137,10138,2024-05-17,Sports,Fitbit Inspire 2,2,99.95,199.90,Asia,Credit Card
101,10102,2024-04-11,Sports,Under Armour HOVR Sonic 4 Shoes,2,109.99,219.98,Asia,Credit Card
194,10195,2024-07-13,Clothing,Adidas Ultraboost Running Shoes,2,179.99,359.98,Asia,Debit Card
164,10165,2024-06-13,Clothing,Adidas 3-Stripes Shorts,5,29.99,149.95,Asia,Debit Card

In [ ]:
df

    Name  Age       City
0  Harsh   24      Noida
1   Jack   27  Bangalore
2  Rahul   22    Florida
3  Divya   30        USA

In [ ]:
## Accessing Data From DataFrame
df

    Name  Age       City
0  Harsh   24      Noida
1   Jack   27  Bangalore
2  Rahul   22    Florida
3  Divya   30        USA

In [ ]:
a = df["Name"]
print(a)
print(type(a))

0    Harsh
1     Jack
2    Rahul
3    Divya
Name: Name, dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
df['Age']

0    24
1    27
2    22
3    30
Name: Age, dtype: int64

In [ ]:
df.loc[0] # Row Index

Name    Harsh
Age        24
City    Noida
Name: 0, dtype: object

In [ ]:
df.iloc[0] # Index

Name    Harsh
Age        24
City    Noida
Name: 0, dtype: object

In [ ]:
df

    Name  Age       City
0  Harsh   24      Noida
1   Jack   27  Bangalore
2  Rahul   22    Florida
3  Divya   30        USA

In [ ]:
## Accessing a specified element
df.at[2,'City']

'Florida'

In [ ]:
df.at[1,'Name']

'Jack'

In [ ]:
df.at[3,'Age']

30

In [ ]:
df

    Name  Age       City
0  Harsh   24      Noida
1   Jack   27  Bangalore
2  Rahul   22    Florida
3  Divya   30        USA

In [ ]:
## Accessing a specified element using iat
df.iat[2,2] # 2nd Index Row and 2nd Index Column

'Florida'

In [ ]:
df.iat[1,0]

'Jack'

In [ ]:
df.iat[3,1]

30

In [ ]:
## Data Manipulation with DataFrames
df

    Name  Age       City
0  Harsh   24      Noida
1   Jack   27  Bangalore
2  Rahul   22    Florida
3  Divya   30        USA

In [ ]:
## Adding a Column
df['Salary']=[60000,70000,30000,50000]
df

    Name  Age       City  Salary
0  Harsh   24      Noida   60000
1   Jack   27  Bangalore   70000
2  Rahul   22    Florida   30000
3  Divya   30        USA   50000

In [ ]:
df['Country'] = ['USA',"India","UK",'Argentina']
df

    Name  Age       City  Salary    Country
0  Harsh   24      Noida   60000        USA
1   Jack   27  Bangalore   70000      India
2  Rahul   22    Florida   30000         UK
3  Divya   30        USA   50000  Argentina

In [ ]:
## Remove a Column
df.drop('Salary', axis=1, inplace=True)

In [ ]:
df

    Name  Age       City    Country
0  Harsh   24      Noida        USA
1   Jack   27  Bangalore      India
2  Rahul   22    Florida         UK
3  Divya   30        USA  Argentina

In [ ]:
df.drop('Country',axis=1,inplace=True)

In [ ]:
df

    Name  Age       City
0  Harsh   24      Noida
1   Jack   27  Bangalore
2  Rahul   22    Florida
3  Divya   30        USA

In [ ]:
df['Age'] = df['Age']+1
df

    Name  Age       City
0  Harsh   25      Noida
1   Jack   28  Bangalore
2  Rahul   23    Florida
3  Divya   31        USA

In [ ]:
df.drop(1,inplace=True)

In [ ]:
df

    Name  Age     City
0  Harsh   25    Noida
2  Rahul   23  Florida
3  Divya   31      USA

In [ ]:
df = pd.read_csv('/content/sales_data.csv')
df.head(5)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [ ]:
## Display the data types of each column
df.dtypes

Transaction ID        int64
Date                 object
Product Category     object
Product Name         object
Units Sold            int64
Unit Price          float64
Total Revenue       float64
Region               object
Payment Method       object
dtype: object

In [ ]:
## Describe the DataFrame
df.describe()

       Transaction ID  Units Sold   Unit Price  Total Revenue
count       240.00000  240.000000   240.000000     240.000000
mean      10120.50000    2.158333   236.395583     335.699375
std          69.42622    1.322454   429.446695     485.804469
min       10001.00000    1.000000     6.500000       6.500000
25%       10060.75000    1.000000    29.500000      62.965000
50%       10120.50000    2.000000    89.990000     179.970000
75%       10180.25000    3.000000   249.990000     399.225000
max       10240.00000   10.000000  3899.990000    3899.990000

In [ ]:
## Handling Missing Values
df.isnull().any()

Transaction ID      False
Date                False
Product Category    False
Product Name        False
Units Sold          False
Unit Price          False
Total Revenue       False
Region              False
Payment Method      False
dtype: bool

In [ ]:
df.isnull().sum()

Transaction ID      0
Date                0
Product Category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      0
dtype: int64

In [ ]:
df_filled = df.fillna(0)

In [ ]:
df_filled.isnull().sum()

Transaction ID      0
Date                0
Product Category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      0
dtype: int64

In [ ]:
df.head(2)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal

In [ ]:
df = df.rename(columns={'Date':'Date of Purchase'})
df.head(2)

,Transaction ID,Date of Purchase,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal